@model Web.Models.PaginaInicialViewModel

@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h4>Quantidade de Turmas: @Model.QuantidadeDeTurmas</h4>
</div>
<div class="text-center">
    <h4>Quantidade de Alunos: @Model.QuantidadeDeAlunos</h4>
</div>