@model ErroDelecao
{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Você não pode deletar turmas com alunos cadastrados, apague os alunos para poder apagar a turma</h2>


